<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.soccer.mapper.TysTrainingPlanMapper">
    
    <resultMap type="TysTrainingPlan" id="TysTrainingPlanResult">
        <result property="planId"    column="plan_id"    />
        <result property="planName"    column="plan_name"    />
        <result property="planDate"    column="plan_date"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="trainingType"    column="training_type"    />
        <result property="trainingContent"    column="training_content"    />
        <result property="trainingObjectives"    column="training_objectives"    />
        <result property="location"    column="location"    />
        <result property="equipmentNeeds"    column="equipment_needs"    />
        <result property="weather"    column="weather"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectTysTrainingPlanVo">
        select plan_id, plan_name, plan_date, start_time, end_time, training_type, training_content, training_objectives, location, equipment_needs, weather, del_flag, create_by, create_time, update_by, update_time from tys_training_plan
    </sql>

    <select id="selectTysTrainingPlanList" parameterType="TysTrainingPlan" resultMap="TysTrainingPlanResult">
        <include refid="selectTysTrainingPlanVo"/>
        <where>  
            <if test="planName != null  and planName != ''"> and plan_name like concat('%', #{planName}, '%')</if>
            <if test="planDate != null "> and plan_date = #{planDate}</if>
            <if test="startTime != null "> and start_time = #{startTime}</if>
            <if test="endTime != null "> and end_time = #{endTime}</if>
            <if test="trainingType != null  and trainingType != ''"> and training_type = #{trainingType}</if>
            <if test="trainingContent != null  and trainingContent != ''"> and training_content = #{trainingContent}</if>
            <if test="trainingObjectives != null  and trainingObjectives != ''"> and training_objectives = #{trainingObjectives}</if>
            <if test="location != null  and location != ''"> and location = #{location}</if>
            <if test="equipmentNeeds != null  and equipmentNeeds != ''"> and equipment_needs = #{equipmentNeeds}</if>
            <if test="weather != null  and weather != ''"> and weather = #{weather}</if>
            <if test="delFlag != null  and delFlag != ''"> and del_flag = #{delFlag}</if>
            <if test="updateBy != null  and updateBy != ''"> and update_by = #{updateBy}</if>
        </where>
    </select>
    
    <select id="selectTysTrainingPlanByPlanId" parameterType="Long" resultMap="TysTrainingPlanResult">
        <include refid="selectTysTrainingPlanVo"/>
        where plan_id = #{planId}
    </select>

    <insert id="insertTysTrainingPlan" parameterType="TysTrainingPlan" useGeneratedKeys="true" keyProperty="planId">
        insert into tys_training_plan
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="planName != null and planName != ''">plan_name,</if>
            <if test="planDate != null">plan_date,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="trainingType != null and trainingType != ''">training_type,</if>
            <if test="trainingContent != null and trainingContent != ''">training_content,</if>
            <if test="trainingObjectives != null and trainingObjectives != ''">training_objectives,</if>
            <if test="location != null and location != ''">location,</if>
            <if test="equipmentNeeds != null">equipment_needs,</if>
            <if test="weather != null">weather,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="planName != null and planName != ''">#{planName},</if>
            <if test="planDate != null">#{planDate},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="trainingType != null and trainingType != ''">#{trainingType},</if>
            <if test="trainingContent != null and trainingContent != ''">#{trainingContent},</if>
            <if test="trainingObjectives != null and trainingObjectives != ''">#{trainingObjectives},</if>
            <if test="location != null and location != ''">#{location},</if>
            <if test="equipmentNeeds != null">#{equipmentNeeds},</if>
            <if test="weather != null">#{weather},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateTysTrainingPlan" parameterType="TysTrainingPlan">
        update tys_training_plan
        <trim prefix="SET" suffixOverrides=",">
            <if test="planName != null and planName != ''">plan_name = #{planName},</if>
            <if test="planDate != null">plan_date = #{planDate},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="trainingType != null and trainingType != ''">training_type = #{trainingType},</if>
            <if test="trainingContent != null and trainingContent != ''">training_content = #{trainingContent},</if>
            <if test="trainingObjectives != null and trainingObjectives != ''">training_objectives = #{trainingObjectives},</if>
            <if test="location != null and location != ''">location = #{location},</if>
            <if test="equipmentNeeds != null">equipment_needs = #{equipmentNeeds},</if>
            <if test="weather != null">weather = #{weather},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where plan_id = #{planId}
    </update>

    <delete id="deleteTysTrainingPlanByPlanId" parameterType="Long">
        delete from tys_training_plan where plan_id = #{planId}
    </delete>

    <delete id="deleteTysTrainingPlanByPlanIds" parameterType="String">
        delete from tys_training_plan where plan_id in 
        <foreach item="planId" collection="array" open="(" separator="," close=")">
            #{planId}
        </foreach>
    </delete>
</mapper>